In [2]:
# my research question 
# What is the relationship between the country which has the highest average life expectancy at birth 
# from 2008 to 2018 and freedom to make life choices?
import pandas as pd
import numpy as np
data = pd.read_csv('whreport.csv')
data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [4]:
data.keys()

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [5]:
data.describe()

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,1949.000000,1949.000000,1913.000000,1936.000000,1894.000000,1917.000000,1860.000000,1839.000000,1927.000000,1933.000000
mean,2013.216008,5.466705,9.368453,0.812552,63.359374,0.742558,0.000103,0.747125,0.710003,0.268544
std,4.166828,1.115711,1.154084,0.118482,7.510245,0.142093,0.162215,0.186789,0.107100,0.085168
min,2005.000000,2.375000,6.635000,0.290000,32.300000,0.258000,-0.335000,0.035000,0.322000,0.083000
25%,2010.000000,4.640000,8.464000,0.749750,58.685000,0.647000,-0.113000,0.690000,0.625500,0.206000
50%,2013.000000,5.386000,9.460000,0.835500,65.200000,0.763000,-0.025500,0.802000,0.722000,0.258000
75%,2017.000000,6.283000,10.353000,0.905000,68.590000,0.856000,0.091000,0.872000,0.799000,0.320000
max,2020.000000,8.019000,11.648000,0.987000,77.100000,0.985000,0.698000,0.983000,0.944000,0.705000

In [6]:
list(data.columns)

['Country name',
 'year',
 'Life Ladder',
 'Log GDP per capita',
 'Social support',
 'Healthy life expectancy at birth',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Positive affect',
 'Negative affect']

In [ ]:
# maybe will keep it , check it back later 
def from_2008_to_2018(x):
    """
    return the list of the record from 2008 to 2018 only,
    """
    if (x['year']>=2008) and (x['year']<=2018)

In [8]:
# dealing with missing data, and clean
process1=data[(data.year >=2008) & (data.year <=2018)]

# it is keeping the row from 2008 to 2018
#inspired by Robvh from stackoverflow
#https://stackoverflow.com/questions/18172851/deleting-dataframe-row-in-pandas-based-on-column-value

In [9]:
process1

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,-0.074,0.820,0.725,0.239
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,-0.123,0.810,0.715,0.179
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212

In [10]:
#remove the column that will not be use
process2=process1.drop(['Generosity','Positive affect','Negative affect'],axis=1)

In [11]:
process2

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Perceptions of corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.776
...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,0.820
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,0.810
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,0.844

In [12]:
#rename the column 
process2= process2.rename(columns={'Log GDP per capita':'GDP per capita'})

In [13]:
process2

,Country name,year,Life Ladder,GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Perceptions of corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.776
...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,0.820
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,0.810
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,0.844

In [14]:
#fillna the null value with zero
process3=process2.fillna(0,axis='columns')

In [15]:
process3

,Country name,year,Life Ladder,GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Perceptions of corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.776
...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,0.820
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,0.810
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,0.844

In [44]:
# delete the country where Healthy life expectancy at birth is zero
process4= process3.rename(columns={'Healthy life expectancy at birth':'Healthy_life_expectancy_at_birth'})
process4=process4[(process4.Healthy_life_expectancy_at_birth != 0)]
process4

,Country name,year,Life Ladder,GDP per capita,Social support,Healthy_life_expectancy_at_birth,Freedom to make life choices,Perceptions of corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.776
...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,0.820
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,0.810
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,0.724
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,0.751
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,0.844

In [45]:
# convert the column value to become to percentage
process4['Social support in percentage']=process4['Social support']*100
process4['Freedom to make life choices in percentage']=process4['Freedom to make life choices']*100
process4['Perceptions of corruption in percentage']=process4['Perceptions of corruption']*100

In [41]:
process4

,Country name,year,Life Ladder,GDP per capita,Social support,Healthy_life_expectancy_at_birth,Freedom to make life choices,Perceptions of corruption,Social support in percentage,Freedom to make life choices with percentage,Perceptions of corruption with percentage
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.882,45.1,71.8,88.2
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.850,55.2,67.9,85.0
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.707,53.9,60.0,70.7
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.731,52.1,49.6,73.1
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.776,52.1,53.1,77.6
...,...,...,...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,0.820,76.6,64.2,82.0
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,0.810,73.6,66.7,81.0
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,0.724,76.8,73.3,72.4
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,0.751,75.4,75.3,75.1
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,0.844,77.5,76.3,84.4

In [46]:
#drop the old three column
process5=process4.drop(['Social support','Freedom to make life choices','Perceptions of corruption'],axis=1)

In [49]:
process5

,Country name,year,Life Ladder,GDP per capita,Healthy_life_expectancy_at_birth,Social support in percentage,Freedom to make life choices in percentage,Perceptions of corruption in percentage
0,Afghanistan,2008,3.724,7.370,50.80,45.1,71.8,88.2
1,Afghanistan,2009,4.402,7.540,51.20,55.2,67.9,85.0
2,Afghanistan,2010,4.758,7.647,51.60,53.9,60.0,70.7
3,Afghanistan,2011,3.832,7.620,51.92,52.1,49.6,73.1
4,Afghanistan,2012,3.783,7.705,52.24,52.1,53.1,77.6
...,...,...,...,...,...,...,...,...
1942,Zimbabwe,2014,4.184,7.991,52.38,76.6,64.2,82.0
1943,Zimbabwe,2015,3.703,7.992,53.80,73.6,66.7,81.0
1944,Zimbabwe,2016,3.735,7.984,54.40,76.8,73.3,72.4
1945,Zimbabwe,2017,3.638,8.016,55.00,75.4,75.3,75.1
1946,Zimbabwe,2018,3.616,8.049,55.60,77.5,76.3,84.4

In [50]:
#export data
process5.to_csv('new.csv',index=None)

In [52]:
pd.read_csv('new.csv')

,Country name,year,Life Ladder,GDP per capita,Healthy_life_expectancy_at_birth,Social support in percentage,Freedom to make life choices in percentage,Perceptions of corruption in percentage
0,Afghanistan,2008,3.724,7.370,50.80,45.1,71.8,88.2
1,Afghanistan,2009,4.402,7.540,51.20,55.2,67.9,85.0
2,Afghanistan,2010,4.758,7.647,51.60,53.9,60.0,70.7
3,Afghanistan,2011,3.832,7.620,51.92,52.1,49.6,73.1
4,Afghanistan,2012,3.783,7.705,52.24,52.1,53.1,77.6
...,...,...,...,...,...,...,...,...
1442,Zimbabwe,2014,4.184,7.991,52.38,76.6,64.2,82.0
1443,Zimbabwe,2015,3.703,7.992,53.80,73.6,66.7,81.0
1444,Zimbabwe,2016,3.735,7.984,54.40,76.8,73.3,72.4
1445,Zimbabwe,2017,3.638,8.016,55.00,75.4,75.3,75.1
1446,Zimbabwe,2018,3.616,8.049,55.60,77.5,76.3,84.4